@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.shape-ex9{
    width: 140px;
    height: 60px;
    display: block;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    color: #000;
    background-color: transparent;
    border: 1px solid rgb(250, 250, 250) none;
    position: relative;
    transition: all .3s linear;
    bottom: -10;
    font-family: 'Noto Sans TC', sans-serif;
    left: 0;
    /*黑色框框*/
}
.shape-ex9 > p{
    position: relative;
    z-index: 1;
    font-family: 'Noto Sans TC', sans-serif;
}
.statw > p{
    font-family: 'Noto Sans TC', sans-serif;
}
.shape-ex9::before{
    
    content: "";
    width: 0%;
    height: 0%;
    display: block;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all .3s ease;
    font-family: 'Noto Sans TC', sans-serif;
    /*變黑色背景*/
}
.shape-ex9:hover{
    color: #fff;
    /*接觸滑鼠*/
}
.shape-ex9:hover::before{
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    opacity: 1;
}

