

<meta content='width=device-width, initial-scale=1' name='viewport'/>
<center><form method="post">
<form>
<select name="user">
　<option value="Taipei">台北</option>
　<option value="Taoyuan">桃園</option>
　<option value="Hsinchu">新竹</option>
　<option value="Miaoli">苗栗</option>
<input type="submit" value="送出" onclick = 'this.style.display="none";'this>
</select>
<!--<form method="post">
	<input type="text" name="user">
	<input type="submit" name="send" value="送出">
</form>

</form>
</center>-->
{{a}}


