<!DOCTYPE html>
<meta content='width=device-width, initial-scale=1' name='viewport'/>
<head>
  <title>投票-最討厭的女生</title>
  <link rel="stylesheet" href="static/vote.css">
</head>
<div class='center'>
<center>
  <div class='title'>投票-最討厭的女生</div>
   <video src="static/a.webm" muted autoplay loop video width="360" height="360"></video>
</center>
<center>
<form method="post">
<select name="number">
　<option value="22">22</option>
　<option value="23">23</option>
　<option value="24">24</option>
　<option value="25">25</option>
<option value="26">26</option>
　<option value="27">27</option>
　<option value="28">28</option>
　<option value="29">29</option>
<option value="30">30</option>
　<option value="31">31</option>
　<option value="32">32</option>
　<option value="33">33</option>
<option value="34">34</option>
　<option value="35">35</option>
　<option value="36">36</option>
　<option value="37">37</option>
<option value="38">38</option>
　<option value="39">39</option>
　<option value="40">40</option>
　<option value="41">41</option>
<option value="42">42</option>
<input type="submit" value="送出" class='button-36'onclick = 'this.style.display="none";'this>
</select>
</form>
</div>
<a href="mailto:yoniyang@yoniyang.xyz">遇到問題？聯絡我們</a>
