<meta content='width=device-width, initial-scale=1' name='viewport'/>
<head>
	<title>告白??系統統計後台</title>
	<link href="/static/base.css" rel="stylesheet" type="text/css">
</head>
<center>
	<p>
    
		用win10來到這網站被當白痴的人有
		<cb>{{win10num}}</cb>人 <!--Gets the random number from the python file-->
    
	</p>
	 
</center>
<center>
	<p>
    
    用安卓來到這網站被當白痴的人有
		<cb>{{android}}</cb>人
	</p>
	 
</center>
<center>
	<p>
    
		用linux來到這網站被當白痴的人有
		<cb>{{linuxnum}}</cb>人 <!--Gets the random number from the python file-->
    
	</p>
	 
</center>
<center>
	<p>
    
		用IPhone來到這網站看林奕佑告白的人有
		<cb>{{iphonenum}}</cb>人 <!--Gets the random number from the python file-->
    
	</p>
	 
</center>
<center>
	<p>
    
    user agent:
		<cb>{{agent}}</cb>
	</p>
	 
</center>

<script language="javascript">
alert('測試文字');
alert('測試文字第一行\n測試文字第二行');
</script>