<meta content='width=device-width, initial-scale=1' name='viewport'/>
<head>
  <title>投票-最討厭的女生</title>
  <link rel="stylesheet" href="static/voted.css">
</head>
<div class = 'title'><center>投票成功！</center></div>
<div class='voteop'><center>
<!-- 22號票數{{n22}}
</center>
<center>
23號票數{{n23}}
</center>
<center>
24號票數{{n24}}
</center>
<center>
25號票數{{n25}}
</center>
<center>
26號票數{{n26}}
</center>
<center>
27號票數{{n27}}
</center>
<center>
28號票數{{n28}}
</center>
<center>
29號票數{{n29}}
</center>
<center>
30號票數{{n30}}
</center>
<center>
31號票數{{n31}}
</center>
<center>
32號票數{{n32}}
</center>
<center>
33號票數{{n33}}
</center>
<center>
34號票數{{n34}}
</center>
<center>
35號票數{{n35}}
</center>
<center>
36號票數{{n36}}
</center>
<center>
37號票數{{n37}}
</center>
<center>
38號票數{{n38}}
</center>
<center>
39號票數{{n39}}
</center>
<center>
40號票數{{n40}}
</center>
<center>
41號票數{{n41}}
</center>
<center>
42號票數{{n42}}-->
<table style="border:3px #85DCB solid;margin: 50px;" cellpadding="10" border='1'>
<tr><td>22號票數{{n22}}</td><td>23號票數{{n23}}</td><td>24號票數{{n24}}</td><td>25號票數{{n25}}</td></tr>
<tr><td>26號票數{{n26}}</td><td>27號票數{{n27}}</td><td>28號票數{{n28}}</td><td>29號票數{{n29}}</td></tr>
<tr><td>30號票數{{n30}}</td><td>31號票數{{n31}}</td><td>32號票數{{n32}}</td><td>33號票數{{n33}}</td></tr>
<tr><td>34號票數{{n34}}</td><td>35號票數{{n35}}</td><td>36號票數{{n36}}</td><td>37號票數{{n37}}</td></tr>
<tr><td>38號票數{{n38}}</td><td>39號票數{{n39}}</td><td>40號票數{{n40}}</td><td>41號票數{{n41}}</td></tr>
<tr><td>42號票數{{n42}}</td><td>和諧方塊</td><td>和諧方塊</td><td>和諧方塊</td></tr>
</table>

</center>
</div>
