<meta content='width=device-width, initial-scale=1' name='viewport'/>

<center>投票成功！</center>
<center>
1號票數{{n1}}
</center>
<center>
2號票數{{n2}}
</center>
<center>
3號票數{{n3}}
</center>
<center>
4號票數{{n4}}
</center>
<center>
5號票數{{n5}}
</center>
<center>
6號票數{{n6}}
</center>
<center>
7號票數{{n7}}
</center>
<center>
8號票數{{n8}}
</center>
<center>
9號票數{{n9}}
</center>
<center>
10號票數{{n10}}
</center>
<center>
11號票數{{n11}}
</center>
<center>
12號票數{{n12}}
</center>
<center>
13號票數{{n13}}
</center>
<center>
14號票數{{n14}}
</center>
<center>
15號票數{{n15}}
</center>
<center>
16號票數{{n16}}
</center>
<center>
17號票數{{n17}}
</center>
<center>
18號票數{{n18}}
</center>
<center>
19號票數{{n19}}
</center>
<center>
20號票數{{n20}}
</center>
<center>
21號票數{{n21}}
</center>




</center>